.custom-mini-scrollPane {
    -fx-pref-width: 580px;

    -fx-pref-height: 250px;
    -fx-background-color: transparent;

    -fx-border-color: #c0c0c0;
    -fx-border-radius: 15px 15px 0px 0px;
    -fx-border-width: 2px;
    -fx-clip: true;
}

.custom-mini-scrollPane > .viewport {
    -fx-background-radius: 15px 15px 0px 0px;
    -fx-background-color: transparent;
}

.custom-full-scrollPane {
    -fx-pref-width: 580px;

    -fx-pref-height: 600px;
    -fx-background-color: transparent;

    -fx-border-color: #c0c0c0;
    -fx-border-radius: 15px 15px 0px 0px;
    -fx-border-width: 2px;
    -fx-clip: true;
}

.custom-full-scrollPane > .viewport {
    -fx-background-radius: 15px 15px 0px 0px;
    -fx-background-color: transparent;
}

.custom-background {
    -fx-background-color: linear-gradient(#F5F5F5, #F0F2F5);
}

.button {
    -fx-cursor: hand;
}

.custom-login-button {
    -fx-background-color: linear-gradient(#F5F5F5, #E0E2E6);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.3, 0, 2);
    -fx-border-color: #C8CACE;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.custom-add-button {
    -fx-background-color: linear-gradient(#2ECC71, #27AE60);
    -fx-pref-width: 600px;
    -fx-pref-height: 40px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.custom-cerrar-button {
    -fx-background-color: linear-gradient(#E74C3C, #C0392B);
    -fx-font-weight: bold;
}

.custom-smallView {
    -fx-background-color: linear-gradient(#f9f9f9, #e8e8e8);
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1;

    -fx-alignment: center-left;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.3, 0, 1);
    -fx-cursor: hand;
}

.custom-label-smallView {
    -fx-font-weight: normal;
    -fx-font-size: 15px;
    -fx-pref-width: 460px;
    -fx-wrap-text: true;
}

.custom-smallView:hover {
    -fx-background-color: linear-gradient(
        rgba(249, 249, 249, 0.4), 
        rgba(232, 232, 232, 0.4)
    );
}

.custom-edit-smallButton {
    -fx-background-color: linear-gradient(#4A90D9, #357ABD);
    -fx-pref-width: 60px;
    -fx-text-fill: white;
}

.custom-delete-smallButton {
    -fx-background-color: linear-gradient(#E74C3C, #C0392B);
    -fx-pref-width: 30px;
    -fx-text-fill: white;
}

.custom-title {
    -fx-pref-width: 550px;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.vbox {
    -fx-background-color: linear-gradient(#F5F5F5, #F0F2F5);

}

.custom-edit-window {
    -fx-background-color: linear-gradient(#F5F5F5, #F0F2F5);
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-max-width: 300px;
    -fx-max-height: 300px;
    -fx-alignment: center;
    
    -fx-border-color: #2C3E50;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
    
    -fx-padding: 10px;
}

.custom-edit-window > .viewport {
    -fx-border-radius: 8px;
}

.custom-confirm-button {
    -fx-background-color: linear-gradient(#2ECC71, #27AE60);
    -fx-text-fill: white;
    -fx-pref-width: 85px;
}

.custom-cancel-button {
    -fx-background-color: linear-gradient(#E74C3C, #C0392B);
    -fx-text-fill: white;
    -fx-pref-width: 85px;
}

.custom-text {
    -fx-color: black;
    -fx-font-size: 12px;
    -fx-font-weight:bold;
}

.custom-field {
    -fx-max-width: 300px;
    -fx-pref-width: 300px;
}

.custom-password {
    -fx-echo-char: '*';
    -fx-max-width: 300px;
    -fx-pref-width: 300px;
}
